{% extends 'Login/login.html' %}
{% block title %}
    找回密码
{% endblock %}
<!--    修改-->
{% block  css %}

    .body{
    height:90%;
    position:absolute;
    top:30px;
    width:600px;
    left:300px;
    background-color: #f6f5f8;
    }

    .content_title{
    width:100%;
    height:100px;
    margin-bottom:20px;
    }

    .span_css{
    font-size:30px;
    color:#91a0b5;
    float:left;
    margin-top:15px;
    }

    .code{
    height:35px;
    width:140px;
    border-radius: 5%;
    text-align:center;
    line-height:35px;
    }

{% endblock %}
{% block body %}
    <div class="body">
        <div class="content_title">
            <a href="{{ url_for('Login.login') }}">
                <span class="glyphicon glyphicon-chevron-left span_css" id="span_css">返回</span></a>
        </div>
        <form class="form-horizontal" action="{{ url_for('Login.get_secret') }}" method="post">
            <!--    电话号码输入   -->
            <div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-offset-1 col-md-8">
                    <input type="text" class="form-control" id="input_name" name="forget_name" placeholder="请输入真实姓名">
                </div>
            </div>
            <!--    重新输入密码-->
            <div class="form-group">
                <label class="col-md-2 control-label">Password again</label>
                <div class="col-md-offset-1 col-md-8">
                    <input type="password" class="form-control" id="input_password" name="forget_password"
                           placeholder="请输入新的密码">
                </div>
            </div>
            <!--     验证码验证  -->
            <div class="form-group">
                <label class="col-md-2 control-label">Code</label>
                <div class="col-md-offset-1 col-md-5">
                    <input type="text" class="form-control" id="inputCode" name="forget_code" placeholder="请输入验证码">
                </div>
                <label><img src="{{ url_for('Login.image') }}" id="code_check"></label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10 " id="check">
                    <p class="pro">{{ msg }}</p>
                </div>
            </div>
            <!--    按钮事件    -->
            <div class="form-group">
                <div class="col-md-offset-3">
                    <button type="submit" class="btn btn-default btn-primary col-md-10" id="forget_btn">重置&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;密码</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
<script>
    {% block js %}
        // 对验证码事件的点击处理
        $('#code_check').click(function () {
            $(this).attr('src', "{{ url_for('Login.image') }}?ran=" + Math.random());
        })
        // 对提交表单的处理
        $('#forget_btn').click(function () {
            var name = document.getElementById('input_name').value;
            var password = document.getElementById('input_password').value;
            var code = document.getElementById('inputCode').value;
            if (name === '') {
                $('#check').html('<p>真实姓名不能为空</p>').css('color', 'red')
            } else if (password === '') {
                $('#check').html('<p>密码不能为空</p>').css('color', 'red')
            } else if (code === '') {
                $('#check').html('<p>验证码不能为空</p>').css('color', 'red')
            }

        })

    {% endblock %}
</script>